<div class="card mb-3 shadow-sm text-center" style="width: 18rem">
  <div class="position-relative">
    <img
      [src]="user.image"
      class="card-img-top rounded-circle p-3"
      alt="Profile Picture"
    />
    <span
      class="position-absolute top-0 start-0 m-2 badge"
      [class]="
        user.role === 'admin'
          ? 'bg-danger'
          : user.role === 'moderator'
          ? 'bg-info'
          : 'bg-secondary'
      "
    >
      {{ user.role }}
    </span>
  </div>

  <div class="card-body text-center">
    <span class="badge mb-2 {{ user.badgeColor }}">
      {{ user.badgeText }}
    </span>

    <h5 class="card-title fw-bold mb-3">{{ user.username }}</h5>

    <div class="d-flex flex-column gap-2">
      <p class="card-text mb-1">
        <i class="bi bi-envelope-fill me-2"></i>
        {{ user.email }}
      </p>
      <p class="card-text mb-1">
        <i class="bi bi-telephone-fill me-2"></i>
        {{ user.phone }}
      </p>
      <p class="card-text mb-1">
        <i class="bi bi-calendar-fill me-2"></i>
        {{ user.birthDate | date : "mediumDate" }}
      </p>
    </div>
  </div>
</div>
